ANCHOR_PROVIDER_URL=http://127.0.0.1:8899
ANCHOR_WALLET=~/.config/solana/id.json
NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SHADOWBID_PROGRAM_ID=DC8BDbKxMBdHPgH1stCjneEmpNkJ7QbXY6UjHKdhXRER
SHADOWBID_ARCIUM_AUTHORITY=replace-with-callback-authority
